<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/outlaw.gif" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I am a part time Web Developer currently trying to learn all I can. This blog represents some of my struggles and breakthroughs.</p>
  </div>
  <div id="social">
    {% include social.html %}
    
  {% if site.data.theme.show_list %}
    {% include list.html %}
  </div>
     {% endif %}
</nav>
